@import "./global/reset";

@import "./mixins/forSize";

@import "./scss/Header";

@import "./scss/login";
@import "./scss/ShoppingBag";
@import "./scss/Article";
@import "./scss/Cite";
@import "./scss/Packs";
<<<<<<< HEAD

@import "./scss/PacksN";

=======
>>>>>>> 5c68e5f4c1426cd60b9f6cf703a3769f81c74057
@import "./scss/Recommandation";
@import "./scss/Products";

html {
  font-size: 62.5%;
  width: 100%;
}

body{
  font-family: Copperplate, sans-serif;
}
